{% extends 'base.html'%}
{% import 'macro.html' as macro with context %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
{% block content %}
    
        <div  class="container" id="particles-js">
                <h2 class="text-center" id="posts">Pitch Hub</h2>
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a id ="all" class="nav-link" data-toggle="tab" href="#all"><strong>Pitch Hub</strong> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div  class="container tab-pane active" id="all"><br>
                    {{ macro.display(pitches) }}
                </div>
            </div>
        </div>
{% endblock %}
